* {
    box-sizing: border-box;
}

.voltar {
    display: inline-block;
    background: #008cff;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin: 20px;
}

.voltar:hover {
    background: #0066c7;
    transform: scale(1.05);
    transition: transform 0.2s;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 30px;
}

.box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
    transition: trasnform .2s;
    font-family: Arial, Helvetica, sans-serif;
}

.box:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.box img {
    width: 100%;
    border-radius: 10px;
}

.paginas {
    background-color: #d6d4d4;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.caixa-conteudo {
    background: white;
    max-width: 1000px;
    margin: 80px auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    text-align: center;
}

.caixa-conteudo h1 {
    margin-top: 0;
}

.texto {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

.texto-com-espaco {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    text-indent: 20px;
}